.Connection {
    display: flex;
    width: fit-content;
    padding: var(--spacing-2x,);
    align-items: flex-start;
    gap: var(--spacing-2x);
    border-radius: var(--radius-base);
    border: 1px solid var(--border);
}

.Info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--spacing-half);
}

.Info small {
    color: var(--txt-secondary);
}

.BadgeConnection {
    width: fit-content;
    height: fit-content;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.2; }
}

@media (prefers-reduced-motion: no-preference) {
  .BadgeWarn {
    animation: blink 4s ease-in-out infinite;
  }
}