.bottomBar{
    display: flex;
    width: 100%;
    padding: var(--spacing-2x);
    align-items: center;
    border-top: 1px solid var(--border);
    background: var(--bg-primary);
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

@media (max-width: 768px) {
    .bottomBar {
        display: flex;
    }
}