.ChartContainer {  
  display: flex;
  width: 100%;
  min-width: 320px;
  max-width: 800px;
  padding: var(--spacing-3x);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-base);
  border-radius: var(--radius-2x);
  background: var(--bg-secondary);
  aspect-ratio: 5 / 3;
  padding-bottom: 0;
}

.recharts-tooltip-wrapper recharts-tooltip-wrapper-left recharts-tooltip-wrapper-bottom {
  width: fit-content !important;
  background: var(--bg-secondary) !important;
}

.ChartHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  gap: var(--spacing-base) var(--spacing-base);
  align-self: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ChartMeta {
  display: flex;
  width: fit-content;
  color: var(--txt-interaction);
  height: var(--density-high);
  padding: 0 var(--spacing-2x);
  align-items: center;
  gap: var(--spacing-base);
  border-radius: var(--radius-6x);
  background: color-mix(in srgb, var(--pumpkin-500) 16%, transparent);
}

.MetaInfo {
  font-family: var(--text-code);
  font-weight: var(--font-regular);
  text-transform: none;
}

.Tooltip {
  display: flex;
  flex-direction: column;
  background: var(--bg-primary);
  width: 95%;
  padding: var(--spacing-2x);
  border-radius: var(--radius-1x);
  border: solid 1px var(--border);
}

.TooltipLabel {
  font-family: var(--text-code);
  font-weight: var(--font-regular);
  color: var(--txt-interaction);
  text-transform: none; 
}

.TooltipValue {
  text-transform: none;
}
