.Cell {
    display: grid;
    aspect-ratio: 1/1;
    grid-template-rows: repeat(2,minmax(0,1fr));
    grid-template-columns: repeat(2,minmax(0,1fr));
    max-width: 100px;
    position: relative;
}

.Wall {
    background: var(--wall);
}

.MouseLoc {
    width: 40%;
    aspect-ratio: 1;
    border-radius: 100%;
    background: var(--pumpkin-600);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}