.header{
    display: flex;
    width: var(--header);
    padding: var(--spacing-3x) var(--spacing-5x);
    align-items: center;
    gap: var(--spacing-2x);
    border-bottom: 1px solid var(--border);
    background: var(--bg-primary);
}
.logo{
    display: flex;
    width: var(--logo);
    height: var(--logo);
    align-items: center;
    gap: var(--spacing-7x);
    flex-shrink: 0;
    aspect-ratio: 197.58/40.00;
}
.menuitens{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-2x);
    flex: 1 0 0;
}
.themebtn{
    display: flex;
    align-items: flex-start;
}
/* OPCIONAL */
/* Função: é utilizado caso o componente tenha estilos próprios. 
Uso aqui é ideal para que o estilo do componente não vaze para fora */