.card {
    display: flex;
    min-width: 240px;
    padding: var(--spacing-3x);
    align-items: center;
    gap: var(--spacing-base);
    border-radius: var(--radius-2x);
    background: var(--bg-secondary);
    color: var(--color-txt-primary);
    height: fit-content;
}

.lg {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--spacing-3x);
}

.texts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-half);
    flex: 1 0 0;
}

.texts span {
    color: var(--txt-secondary);
}

.icon-color {
    color: var(--txt-interaction);
}