.footer{
    background: var(--wall);
    display: flex;
    width: 100%;
    padding: var(--spacing-5x);
    align-items: flex-start;
    gap: var(--spacing-base);
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "link brand social";
    gap: var(--spacing-4x);
    align-items: start;
    padding: var(--spacing-6x) var(--spacing-base);
}
.colLinks{ grid-area: links;}
.colBrand{
    grid-area: brand;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.tagline{
    margin-top: var(--spacing-2x);
    font-family: var(--text-body);
    font-size: var(--font-scale-down-01);
    color: var(--txt-secondary);
    line-height: 1.5;
}
.taglineSub{
    font-family: var(--text-body);
    font-size: var(--font-scale-down-01);
    color: var(--txt-secondary);
    line-height: 1.5;
    text-decoration: underline;
    text-underline-offset: 2px;
}
.copyright{
    margin-top: var(--spacing-3x);
    font-family: var(--text-body);
    font-size: var(--font-scale-down-02);
    color: var(--txt-secondary);
    line-height: 1.5;
}