
.system {
  background-color: black;
  color: white;
}

.system-header {
  margin-bottom: -50px;
}

.system-header .subtitle {
  color: var(--orange);
  letter-spacing: 2px;
  font-size: 0.8rem;
  margin-bottom: 10px;
}


.line-header{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.line{
  height: 1px;         /* Espessura da linha */
  background-color: #333; /* Cor cinza escuro do design */
  width: 200px;
  margin-bottom: 8px;
}
.system-header h1 {
  font-size: 3rem;
  line-height: 1.1;
  font-weight: 800;
  color: white;
}

.system-header .highlight {
  color: var(--orange);
  font-style: italic;
}

.system-container {
  display: flex;
  justify-content: space-between;
  gap: 0; 
}

.system-card-1, .system-card-2, .system-card-3 {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: left; 
}

.system-card-2, .system-card-3{
  border-left: 1px solid #333; 
  height: 550px;
}
.card-number {
  position: static; 
  font-size: 6rem; 
  font-weight: 900;
  color: var(--orange);
  line-height: 1;
}

.card-tag {
  color: var(--orange);
  font-size: 0.7rem;
  font-weight: bold;
  margin-bottom: -50px;
}

.card-visual {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  width: 100%; 
  z-index: 1;
}

.system-icon {
  border: 1px solid #FF6B00;
  width: 80px;  
  height: 80px; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0; 
}
.system-icon svg {
  width: 50px;
  height: 50px;
}
.system-info {
  z-index: 1;
}

.system-info h3 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.system-info ul {
  color: #888;
  line-height: 1.6;
  font-size: 0.95rem;
}


@media (max-width: 768px) {
  .system-container {
    flex-direction: column;
  }
  .system-card {
    border-left: none;
    border-top: 1px solid #333;
  }
}


