.Cards {
    display: inline-grid;
    row-gap: var(--spacing-2x);
    column-gap: var(--spacing-2x);
    align-self: stretch;
    grid-template-rows: repeat(2,fit-content(100%));
    grid-template-columns: repeat(20,minmax(0,1fr));
}

.SpanLg { grid-column: span 4; }
.SpanDefault { grid-column: span 5; }

@media (max-width: 480px) {
    .Cards{
        grid-template-rows: repeat(5,fit-content(100%));
        grid-template-columns: repeat(2,minmax(0,1fr));
    }

    .SpanLg { grid-column: span 2; }
    .SpanDefault { grid-column: span 2; }
}